.date-container {
    position: relative;
    .date-picker {
        border: 1px solid rgba(149, 149, 149, 0.5215686275);
        border-radius: 8px;
        overflow: hidden;
        input {
            border: none;
            padding: 0 !important;
            padding-left: 42px !important;
            padding-top: 24px !important;
            padding-bottom: 2px;
            background-color: transparent;
            color: rgba(0, 0, 0, 0.87);
            font-size: 16px;
            font-weight: 400;
            width: 100%;
        }
    }

    .label {
        position: absolute;
        top: 14px;
        left: 43px;
        font-size: 16px;
        font-weight: 500;
        color: rgba($color: #000000de, $alpha: 0.4);
        transition: 0.15s ease;
        user-select: none;
        &.active {
            transform: translate(0px, -8px);
            transition: 0.15s ease;
            font-weight: 400;
            font-size: 12px;
            color: rgba($color: #000000de, $alpha: 0.55);
        }
    }
    .message {
        color: #fe4444;
        font-size: 12px;
        padding: 6px 16px 0;
        height: 26px;
        transition: 1s;
        position: relative;
        span {
            transform-origin: top center;
            position: absolute;
            top: -10%;
            opacity: 0;
            transition: 0.2s ease;

            &.active {
                transform: translate(0px, 30%);
                opacity: 1;
                transition: 0.2s ease;
            }
        }
    }
}
